<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-2/3 py-12 sm:px-8 font-serif">
      <h1 class="text-red-300 text-center text-3xl sm:text-5xl mb-6 font-bold flex flex-wrap tracking tracking-widest"><span class="hidden sm:inline-block">|</span><span class="inline">rastr</span>·<span>studio</span><span class="hidden sm:inline-block">|</span></h1>
      <h2 class="tracking-wider text-2xl">A development studio for creatives and solopreneurs</h2>
        <span class="content__container block text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">· Web Apps</li>
            <li class="content__container__list__item xl:pl-3">· Custom Components</li>
            <li class="content__container__list__item xl:pl-3">· Static Pages</li>
            <li class="content__container__list__item xl:pl-3">· Technical Consulting</li>
            <li class="content__container__list__item xl:pl-3">· Website Redesigns</li>
          </ul>
        </span>
        <p class="text-gray-400 tracking-widest text-xl sm:text-2xl lowercase">"Transforming Screentime into Scalability."</p>
    </div>
    <div class="w-full sm:w-1/3">
      <img src="/img/undraw_team_up_re_84ok.svg" alt="rastr.studio header">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-50 bg-orange-400 rounded-full font-mono shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#intro">more information ↓</a>
</div>